/* portal del ciudadano */
.sidebar-header {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    border-radius: 5cm;
    border-color: aliceblue;
    text-align: center;
}
/* segunda linea */
.sidebar-nav {
    background-color: aliceblue;
    border-radius: 5cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    
}
/* tutulo Reportes */
.tituloreport {
    text-align: center;
    color: #12C9B4;
  background-image: linear-gradient(45deg, #12C9B4, #74FC74 50%, #41CCC3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 320%;
}



/* Texto Gradient CSS */
.text-gradient {
  color: #12C9B4;
  background-image: linear-gradient(45deg, #12C9B4, #74FC74 50%, #41CCC3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

body {
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

/* Navbar Hover Effect */
.navbar-nav .nav-link:hover,
.navbar-brand:hover {
  color: turquoise !important;
}

/* Navbar Custom Styles */
.navbar {
  background-color: black !important;
  /* Fondo negro */
}

.navbar-nav .nav-link,
.navbar-brand {
  color: white !important;
  /* Letras blancas */
}

main {
  color: rgb(77, 231, 231);
}
/* tabla inferrior */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
/* tabla inferrior */
.data-table th, .data-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}
/* tabla inferrior */
.data-table th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee
}


/* tabla inferrior */
.contact-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: start;
}
/* tabla inferrior */
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* ingreso datos reporte */
.auth-card{
    background: white; 
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
/* ingreso datos reporte */
.report-form-section{
    padding: 20px; 
    max-width: 800px; 
    margin: 0 auto;
}
.form-group {
width: 100%; padding: 10px; 
border: 1px solid #ddd; 
border-radius: 4px; 
background-color: #180067;
}
.nuevoreporte {
    color: #180067;
}
.data-table {
    color: brown;
}





